<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="webkit" name="renderer">
    <title>个人账户-手机注册</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/common.css">
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
    <script type="text/javascript" src="/resources/js/jquery.js"></script>
</head>

<body>

<!-- header start -->
<script type="text/javascript" src="/resources/temp/header-register.js"></script>
<!-- header end -->

<!-- content start -->
<div class="bgc3 wrap">
    <div class="container bgc1">
        <div class="m-tab1-hd clearfix">
            <a href="javascript:;" class="item active"><i class="icon icon-personal"></i>个人账户</a>
            <a href="/rest/page/csign" class="item"><i class="icon icon-company"></i>企业账户</a>
        </div>
        <div class="m-tab1-con personal-account">
            <div class="m-tab2-hd clearfix">
                <a href="javascript:;" class="item active">手机注册</a>
            </div>
            <div class="m-tab2-con">
                <div class="m-form m-form-label-tr">
                    <div class="form-group">
                        <label class="control-label col-6">手机号</label>
                        <div class="col-offset-6">
                            <input class="u-txt lg error" type="text" value="01234567890" placeholder="请输入手机号" style="width: 293px;">
                            <span class="f12 ml10 c7">请输入手机号！</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-6">短信验证码</label>
                        <div class="col-offset-6">
                            <input class="u-txt lg" type="text" value="1111"  placeholder="请输入手机号" style="width: 141px;">
                            <a href="javascript:;" class="u-btn u-btn-default btn-vertify ml6">发送验证码</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-6">用户名</label>
                        <div class="col-offset-6">
                            <input class="u-txt lg" type="text" placeholder="用户名不可重复"
                                   id="username" name="username" class="text"
                                   onblur="checkname();" style="width: 293px;">
                        </div>
                    </div>



                    <div class="form-group">
                        <label class="control-label col-6">设置密码</label>
                        <div class="col-offset-6">
                            <input class="u-txt lg" type="text" placeholder="6-12位，字母数字或字符"
                                   id="password" name="password" class="text"
                                   onblur="checkpwd();" style="width: 293px;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-6">确认密码</label>
                        <div class="col-offset-6">
                            <input class="u-txt lg" type="text" placeholder="请再次填写密码"
                                   id="pwd" name="pwd" class="text" onblur="pwdcheck()" style="width: 293px;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-6">邮箱地址</label>
                        <div class="col-offset-6">
                            <input class="u-txt lg" type="text" placeholder="邮箱@email.com"
                                   id="email" name="email" onblur="checkEmail()" style="width: 293px;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-6">公司名称</label>
                        <div class="col-offset-6">
                            <input class="u-txt lg" type="text" placeholder="请输入公司或团队名称" style="width: 293px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-6">授权码</label>
                        <div class="col-offset-6">
                            <input class="u-txt lg" type="text" placeholder="请输入所属公司授权码" style="width: 293px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-offset-6">
                            <label class="u-checkbox ml10"><input type="checkbox"><i class="ico"></i>同意遵守<a href="#">《服务条款》</a></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-offset-6">
                            <a href="#" class="u-btn lg lw u-btn-primary" onclick="check()">注册</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- content end -->

<!-- footer start -->
<script type="text/javascript" src="/resources/temp/footer.js"></script>
<!-- footer end -->

<!--[if lt IE 9]>
<script src="js/placeholder.js"></script>
<![endif]-->

</body>
<script src="/resources/js/page.js"></script>
<script>

##    验证输入用户名格式
function checkname() {
    var id = "username";
    var value = $("#" + id).val();//获取输入框内容
    /*
     * 1. 非空校验
     */
    if(!value) {
        /*
         * 获取对应的label
         * 添加错误信息
         * 显示label
         */
        $("#" + id + "Error").text("用户名不能为空！");
        showError($("#" + id + "Error"));
        return false;
    }
    /*
     * 2. 长度校验
     */
    if(value.length < 6 || value.length > 12) {
        /*
         * 获取对应的label
         * 添加错误信息
         * 显示label
         */
        $("#" + id + "Error").text("用户名长度必须在6 ~ 12之间！");
        showError($("#" + id + "Error"));
        false;
    }
    /*
     * 3. 是否注册校验
     */
    $.ajax({
        url:"/goods/UserServlet",//要请求的servlet  controller中的方法
        data:{method:"ajaxValidateLoginname", loginname:value},//给服务器的参数
        type:"POST",
        dataType:"json",
        async:false,//是否异步请求，如果是异步，那么不会等服务器返回，我们这个函数就向下运行了。
        cache:false,
        success:function(result) {
            if(!result) {//如果校验失败
                $("#" + id + "Error").text("用户名已被注册！");
                showError($("#" + id + "Error"));
                return false;
            }
        }
    });
    return true;
}

##    验证输入密码格式
function checkpwd() {
    var id = "password";
    var value = $("#" + id).val();//获取输入框内容
    /*
     * 1. 非空校验
     */
    if(!value) {
        /*
         * 获取对应的label
         * 添加错误信息
         * 显示label
         */
        $("#" + id + "Error").text("密码不能为空！");
        showError($("#" + id + "Error"));
        return false;
    }
    /*
     * 2. 长度校验
     */
    if(value.length < 3 || value.length > 20) {
        /*
         * 获取对应的label
         * 添加错误信息
         * 显示label
         */
        $("#" + id + "Error").text("密码长度必须在3 ~ 20之间！");
        showError($("#" + id + "Error"));
        false;
    }
    return true;
}
##验证再次输入
function pwdcheck() {
    var id = "pwd";
    var value = $("#" + id).val();//获取输入框内容
    /*
     * 1. 非空校验
     */
    if(!value) {
        /*
         * 获取对应的label
         * 添加错误信息
         * 显示label
         */
        $("#" + id + "Error").text("确认密码不能为空！");
        showError($("#" + id + "Error"));
        return false;
    }
    /*
     * 2. 两次输入是否一致校验
     */
    if(value != $("#password").val()) {
        /*
         * 获取对应的label
         * 添加错误信息
         * 显示label
         */
        $("#" + id + "Error").text("两次输入不一致！");
        showError($("#" + id + "Error"));
        false;
    }
    return true;
}
##验证邮箱格式
function checkEmail() {
    var id = "email";
    var value = $("#" + id).val();//获取输入框内容
    /*
     * 1. 非空校验
     */
    if(!value) {
        /*
         * 获取对应的label
         * 添加错误信息
         * 显示label
         */
        $("#" + id + "Error").text("Email不能为空！");
        showError($("#" + id + "Error"));
        return false;
    }
    /*
     * 2. Email格式校验
     */
    if(!/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/.test(value)) {
        /*
         * 获取对应的label
         * 添加错误信息
         * 显示label
         */
        $("#" + id + "Error").text("错误的Email格式！");
        showError($("#" + id + "Error"));
        false;
    }
    /*
     * 3. 是否注册校验
     */
    $.ajax({
        url:"/goods/UserServlet",//要请求的servlet
        data:{method:"ajaxValidateEmail", email:value},//给服务器的参数
        type:"POST",
        dataType:"json",
        async:false,//是否异步请求，如果是异步，那么不会等服务器返回，我们这个函数就向下运行了。
        cache:false,
        success:function(result) {
            if(!result) {//如果校验失败
                $("#" + id + "Error").text("Email已被注册！");
                showError($("#" + id + "Error"));
                return false;
            }
        }
    });
    return true;
}
##验证验证码
function VerifyCode() {
    var id = "verifyCode";
    var value = $("#" + id).val();//获取输入框内容
    /*
     * 1. 非空校验
     */
    if(!value) {
        /*
         * 获取对应的label
         * 添加错误信息
         * 显示label
         */
        $("#" + id + "Error").text("验证码不能为空！");
        showError($("#" + id + "Error"));
        return false;
    }
    /*
     * 2. 长度校验
     */
    if(value.length != 4) {
        /*
         * 获取对应的label
         * 添加错误信息
         * 显示label
         */
        $("#" + id + "Error").text("错误的验证码！");
        showError($("#" + id + "Error"));
        false;
    }
    /*
     * 3. 是否正确
     */
    $.ajax({
        url:"/goods/UserServlet",//要请求的servlet
        data:{method:"ajaxValidateVerifyCode", verifyCode:value},//给服务器的参数
        type:"POST",
        dataType:"json",
        async:false,//是否异步请求，如果是异步，那么不会等服务器返回，我们这个函数就向下运行了。
        cache:false,
        success:function(result) {
            if(!result) {//如果校验失败
                $("#" + id + "Error").text("验证码错误！");
                showError($("#" + id + "Error"));
                return false;
            }
        }
    });
    return true;
}



    $(function(){
        $('.btn-vertify').click(function(){
            if($(this).hasClass('disabled'))return;
            var $this = $(this);
            var i=60;
            var sTxt1='<span>'+i+'</span>s后重新发送';
            var sTxt2='发送验证码';
##                $this.addClass('disabled').html(sTxt1);
            oTime=setInterval(function(){
                i--;
##                    $this.find('span').html(''+ i );
                if(i==0){
                    clearInterval(oTime);
##                        $this.removeClass('disabled').html(sTxt2);
                }
            },1000)
        });
        $('.u-checkbox').checkbox();
    })

</script>
</html>