<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.practise.meetingroom.dao.TTimeMapper" >
  <resultMap id="BaseResultMap" type="com.practise.meetingroom.model.TTime" >
    <id column="time_id" property="timeId" jdbcType="INTEGER" />
    <result column="meetingroom_id" property="meetingroomId" jdbcType="INTEGER" />
    <result column="topicName" property="topicname" jdbcType="VARCHAR" />
    <result column="meetingroom_name" property="meetingroomName" jdbcType="VARCHAR" />
    <result column="8:00" property="8:00" jdbcType="BIT" />
    <result column="8:30" property="8:30" jdbcType="BIT" />
    <result column="9:00" property="9:00" jdbcType="BIT" />
    <result column="9:30" property="9:30" jdbcType="BIT" />
    <result column="10:00" property="10:00" jdbcType="BIT" />
    <result column="10:30" property="10:30" jdbcType="BIT" />
    <result column="11:00" property="11:00" jdbcType="BIT" />
    <result column="11:30" property="11:30" jdbcType="BIT" />
    <result column="12:00" property="12:00" jdbcType="BIT" />
    <result column="12:30" property="12:30" jdbcType="BIT" />
    <result column="13:00" property="13:00" jdbcType="BIT" />
    <result column="13:30" property="13:30" jdbcType="BIT" />
    <result column="14:00" property="14:00" jdbcType="BIT" />
    <result column="14:30" property="14:30" jdbcType="BIT" />
    <result column="15:00" property="15:00" jdbcType="BIT" />
    <result column="15:30" property="15:30" jdbcType="BIT" />
    <result column="16:00" property="16:00" jdbcType="BIT" />
    <result column="16:30" property="16:30" jdbcType="BIT" />
    <result column="17:00" property="17:00" jdbcType="BIT" />
    <result column="17:30" property="17:30" jdbcType="BIT" />
    <result column="18:00" property="18:00" jdbcType="BIT" />
    <result column="18:30" property="18:30" jdbcType="BIT" />
    <result column="19:00" property="19:00" jdbcType="BIT" />
    <result column="19:30" property="19:30" jdbcType="BIT" />
    <result column="20:00" property="20:00" jdbcType="BIT" />
    <result column="20:30" property="20:30" jdbcType="BIT" />
    <result column="21:00" property="21:00" jdbcType="BIT" />
    <result column="21:30" property="21:30" jdbcType="BIT" />
    <result column="22:00" property="22:00" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    time_id, meetingroom_id, topicName, meetingroom_name, 8:00, 8:30, 9:00, 9:30, 10:00, 
    10:30, 11:00, 11:30, 12:00, 12:30, 13:00, 13:30, 14:00, 14:30, 15:00, 15:30, 16:00, 
    16:30, 17:00, 17:30, 18:00, 18:30, 19:00, 19:30, 20:00, 20:30, 21:00, 21:30, 22:00
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.practise.meetingroom.model.TTimeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_Time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_Time
    where time_id = #{timeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_Time
    where time_id = #{timeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.practise.meetingroom.model.TTimeExample" >
    delete from t_Time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.practise.meetingroom.model.TTime" >
    insert into t_Time (time_id, meetingroom_id, topicName, 
      meetingroom_name, 8:00, 8:30, 
      9:00, 9:30, 10:00, 10:30, 
      11:00, 11:30, 12:00, 12:30, 
      13:00, 13:30, 14:00, 14:30, 
      15:00, 15:30, 16:00, 16:30, 
      17:00, 17:30, 18:00, 18:30, 
      19:00, 19:30, 20:00, 20:30, 
      21:00, 21:30, 22:00)
    values (#{timeId,jdbcType=INTEGER}, #{meetingroomId,jdbcType=INTEGER}, #{topicname,jdbcType=VARCHAR}, 
      #{meetingroomName,jdbcType=VARCHAR}, #{8:00,jdbcType=BIT}, #{8:30,jdbcType=BIT}, 
      #{9:00,jdbcType=BIT}, #{9:30,jdbcType=BIT}, #{10:00,jdbcType=BIT}, #{10:30,jdbcType=BIT}, 
      #{11:00,jdbcType=BIT}, #{11:30,jdbcType=BIT}, #{12:00,jdbcType=BIT}, #{12:30,jdbcType=BIT}, 
      #{13:00,jdbcType=BIT}, #{13:30,jdbcType=BIT}, #{14:00,jdbcType=BIT}, #{14:30,jdbcType=BIT}, 
      #{15:00,jdbcType=BIT}, #{15:30,jdbcType=BIT}, #{16:00,jdbcType=BIT}, #{16:30,jdbcType=BIT}, 
      #{17:00,jdbcType=BIT}, #{17:30,jdbcType=BIT}, #{18:00,jdbcType=BIT}, #{18:30,jdbcType=BIT}, 
      #{19:00,jdbcType=BIT}, #{19:30,jdbcType=BIT}, #{20:00,jdbcType=BIT}, #{20:30,jdbcType=BIT}, 
      #{21:00,jdbcType=BIT}, #{21:30,jdbcType=BIT}, #{22:00,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.practise.meetingroom.model.TTime" >
    insert into t_Time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="timeId != null" >
        time_id,
      </if>
      <if test="meetingroomId != null" >
        meetingroom_id,
      </if>
      <if test="topicname != null" >
        topicName,
      </if>
      <if test="meetingroomName != null" >
        meetingroom_name,
      </if>
      <if test="8:00 != null" >
        8:00,
      </if>
      <if test="8:30 != null" >
        8:30,
      </if>
      <if test="9:00 != null" >
        9:00,
      </if>
      <if test="9:30 != null" >
        9:30,
      </if>
      <if test="10:00 != null" >
        10:00,
      </if>
      <if test="10:30 != null" >
        10:30,
      </if>
      <if test="11:00 != null" >
        11:00,
      </if>
      <if test="11:30 != null" >
        11:30,
      </if>
      <if test="12:00 != null" >
        12:00,
      </if>
      <if test="12:30 != null" >
        12:30,
      </if>
      <if test="13:00 != null" >
        13:00,
      </if>
      <if test="13:30 != null" >
        13:30,
      </if>
      <if test="14:00 != null" >
        14:00,
      </if>
      <if test="14:30 != null" >
        14:30,
      </if>
      <if test="15:00 != null" >
        15:00,
      </if>
      <if test="15:30 != null" >
        15:30,
      </if>
      <if test="16:00 != null" >
        16:00,
      </if>
      <if test="16:30 != null" >
        16:30,
      </if>
      <if test="17:00 != null" >
        17:00,
      </if>
      <if test="17:30 != null" >
        17:30,
      </if>
      <if test="18:00 != null" >
        18:00,
      </if>
      <if test="18:30 != null" >
        18:30,
      </if>
      <if test="19:00 != null" >
        19:00,
      </if>
      <if test="19:30 != null" >
        19:30,
      </if>
      <if test="20:00 != null" >
        20:00,
      </if>
      <if test="20:30 != null" >
        20:30,
      </if>
      <if test="21:00 != null" >
        21:00,
      </if>
      <if test="21:30 != null" >
        21:30,
      </if>
      <if test="22:00 != null" >
        22:00,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="timeId != null" >
        #{timeId,jdbcType=INTEGER},
      </if>
      <if test="meetingroomId != null" >
        #{meetingroomId,jdbcType=INTEGER},
      </if>
      <if test="topicname != null" >
        #{topicname,jdbcType=VARCHAR},
      </if>
      <if test="meetingroomName != null" >
        #{meetingroomName,jdbcType=VARCHAR},
      </if>
      <if test="8:00 != null" >
        #{8:00,jdbcType=BIT},
      </if>
      <if test="8:30 != null" >
        #{8:30,jdbcType=BIT},
      </if>
      <if test="9:00 != null" >
        #{9:00,jdbcType=BIT},
      </if>
      <if test="9:30 != null" >
        #{9:30,jdbcType=BIT},
      </if>
      <if test="10:00 != null" >
        #{10:00,jdbcType=BIT},
      </if>
      <if test="10:30 != null" >
        #{10:30,jdbcType=BIT},
      </if>
      <if test="11:00 != null" >
        #{11:00,jdbcType=BIT},
      </if>
      <if test="11:30 != null" >
        #{11:30,jdbcType=BIT},
      </if>
      <if test="12:00 != null" >
        #{12:00,jdbcType=BIT},
      </if>
      <if test="12:30 != null" >
        #{12:30,jdbcType=BIT},
      </if>
      <if test="13:00 != null" >
        #{13:00,jdbcType=BIT},
      </if>
      <if test="13:30 != null" >
        #{13:30,jdbcType=BIT},
      </if>
      <if test="14:00 != null" >
        #{14:00,jdbcType=BIT},
      </if>
      <if test="14:30 != null" >
        #{14:30,jdbcType=BIT},
      </if>
      <if test="15:00 != null" >
        #{15:00,jdbcType=BIT},
      </if>
      <if test="15:30 != null" >
        #{15:30,jdbcType=BIT},
      </if>
      <if test="16:00 != null" >
        #{16:00,jdbcType=BIT},
      </if>
      <if test="16:30 != null" >
        #{16:30,jdbcType=BIT},
      </if>
      <if test="17:00 != null" >
        #{17:00,jdbcType=BIT},
      </if>
      <if test="17:30 != null" >
        #{17:30,jdbcType=BIT},
      </if>
      <if test="18:00 != null" >
        #{18:00,jdbcType=BIT},
      </if>
      <if test="18:30 != null" >
        #{18:30,jdbcType=BIT},
      </if>
      <if test="19:00 != null" >
        #{19:00,jdbcType=BIT},
      </if>
      <if test="19:30 != null" >
        #{19:30,jdbcType=BIT},
      </if>
      <if test="20:00 != null" >
        #{20:00,jdbcType=BIT},
      </if>
      <if test="20:30 != null" >
        #{20:30,jdbcType=BIT},
      </if>
      <if test="21:00 != null" >
        #{21:00,jdbcType=BIT},
      </if>
      <if test="21:30 != null" >
        #{21:30,jdbcType=BIT},
      </if>
      <if test="22:00 != null" >
        #{22:00,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.practise.meetingroom.model.TTimeExample" resultType="java.lang.Integer" >
    select count(*) from t_Time
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_Time
    <set >
      <if test="record.timeId != null" >
        time_id = #{record.timeId,jdbcType=INTEGER},
      </if>
      <if test="record.meetingroomId != null" >
        meetingroom_id = #{record.meetingroomId,jdbcType=INTEGER},
      </if>
      <if test="record.topicname != null" >
        topicName = #{record.topicname,jdbcType=VARCHAR},
      </if>
      <if test="record.meetingroomName != null" >
        meetingroom_name = #{record.meetingroomName,jdbcType=VARCHAR},
      </if>
      <if test="record.8:00 != null" >
        8:00 = #{record.8:00,jdbcType=BIT},
      </if>
      <if test="record.8:30 != null" >
        8:30 = #{record.8:30,jdbcType=BIT},
      </if>
      <if test="record.9:00 != null" >
        9:00 = #{record.9:00,jdbcType=BIT},
      </if>
      <if test="record.9:30 != null" >
        9:30 = #{record.9:30,jdbcType=BIT},
      </if>
      <if test="record.10:00 != null" >
        10:00 = #{record.10:00,jdbcType=BIT},
      </if>
      <if test="record.10:30 != null" >
        10:30 = #{record.10:30,jdbcType=BIT},
      </if>
      <if test="record.11:00 != null" >
        11:00 = #{record.11:00,jdbcType=BIT},
      </if>
      <if test="record.11:30 != null" >
        11:30 = #{record.11:30,jdbcType=BIT},
      </if>
      <if test="record.12:00 != null" >
        12:00 = #{record.12:00,jdbcType=BIT},
      </if>
      <if test="record.12:30 != null" >
        12:30 = #{record.12:30,jdbcType=BIT},
      </if>
      <if test="record.13:00 != null" >
        13:00 = #{record.13:00,jdbcType=BIT},
      </if>
      <if test="record.13:30 != null" >
        13:30 = #{record.13:30,jdbcType=BIT},
      </if>
      <if test="record.14:00 != null" >
        14:00 = #{record.14:00,jdbcType=BIT},
      </if>
      <if test="record.14:30 != null" >
        14:30 = #{record.14:30,jdbcType=BIT},
      </if>
      <if test="record.15:00 != null" >
        15:00 = #{record.15:00,jdbcType=BIT},
      </if>
      <if test="record.15:30 != null" >
        15:30 = #{record.15:30,jdbcType=BIT},
      </if>
      <if test="record.16:00 != null" >
        16:00 = #{record.16:00,jdbcType=BIT},
      </if>
      <if test="record.16:30 != null" >
        16:30 = #{record.16:30,jdbcType=BIT},
      </if>
      <if test="record.17:00 != null" >
        17:00 = #{record.17:00,jdbcType=BIT},
      </if>
      <if test="record.17:30 != null" >
        17:30 = #{record.17:30,jdbcType=BIT},
      </if>
      <if test="record.18:00 != null" >
        18:00 = #{record.18:00,jdbcType=BIT},
      </if>
      <if test="record.18:30 != null" >
        18:30 = #{record.18:30,jdbcType=BIT},
      </if>
      <if test="record.19:00 != null" >
        19:00 = #{record.19:00,jdbcType=BIT},
      </if>
      <if test="record.19:30 != null" >
        19:30 = #{record.19:30,jdbcType=BIT},
      </if>
      <if test="record.20:00 != null" >
        20:00 = #{record.20:00,jdbcType=BIT},
      </if>
      <if test="record.20:30 != null" >
        20:30 = #{record.20:30,jdbcType=BIT},
      </if>
      <if test="record.21:00 != null" >
        21:00 = #{record.21:00,jdbcType=BIT},
      </if>
      <if test="record.21:30 != null" >
        21:30 = #{record.21:30,jdbcType=BIT},
      </if>
      <if test="record.22:00 != null" >
        22:00 = #{record.22:00,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_Time
    set time_id = #{record.timeId,jdbcType=INTEGER},
      meetingroom_id = #{record.meetingroomId,jdbcType=INTEGER},
      topicName = #{record.topicname,jdbcType=VARCHAR},
      meetingroom_name = #{record.meetingroomName,jdbcType=VARCHAR},
      8:00 = #{record.8:00,jdbcType=BIT},
      8:30 = #{record.8:30,jdbcType=BIT},
      9:00 = #{record.9:00,jdbcType=BIT},
      9:30 = #{record.9:30,jdbcType=BIT},
      10:00 = #{record.10:00,jdbcType=BIT},
      10:30 = #{record.10:30,jdbcType=BIT},
      11:00 = #{record.11:00,jdbcType=BIT},
      11:30 = #{record.11:30,jdbcType=BIT},
      12:00 = #{record.12:00,jdbcType=BIT},
      12:30 = #{record.12:30,jdbcType=BIT},
      13:00 = #{record.13:00,jdbcType=BIT},
      13:30 = #{record.13:30,jdbcType=BIT},
      14:00 = #{record.14:00,jdbcType=BIT},
      14:30 = #{record.14:30,jdbcType=BIT},
      15:00 = #{record.15:00,jdbcType=BIT},
      15:30 = #{record.15:30,jdbcType=BIT},
      16:00 = #{record.16:00,jdbcType=BIT},
      16:30 = #{record.16:30,jdbcType=BIT},
      17:00 = #{record.17:00,jdbcType=BIT},
      17:30 = #{record.17:30,jdbcType=BIT},
      18:00 = #{record.18:00,jdbcType=BIT},
      18:30 = #{record.18:30,jdbcType=BIT},
      19:00 = #{record.19:00,jdbcType=BIT},
      19:30 = #{record.19:30,jdbcType=BIT},
      20:00 = #{record.20:00,jdbcType=BIT},
      20:30 = #{record.20:30,jdbcType=BIT},
      21:00 = #{record.21:00,jdbcType=BIT},
      21:30 = #{record.21:30,jdbcType=BIT},
      22:00 = #{record.22:00,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.practise.meetingroom.model.TTime" >
    update t_Time
    <set >
      <if test="meetingroomId != null" >
        meetingroom_id = #{meetingroomId,jdbcType=INTEGER},
      </if>
      <if test="topicname != null" >
        topicName = #{topicname,jdbcType=VARCHAR},
      </if>
      <if test="meetingroomName != null" >
        meetingroom_name = #{meetingroomName,jdbcType=VARCHAR},
      </if>
      <if test="8:00 != null" >
        8:00 = #{8:00,jdbcType=BIT},
      </if>
      <if test="8:30 != null" >
        8:30 = #{8:30,jdbcType=BIT},
      </if>
      <if test="9:00 != null" >
        9:00 = #{9:00,jdbcType=BIT},
      </if>
      <if test="9:30 != null" >
        9:30 = #{9:30,jdbcType=BIT},
      </if>
      <if test="10:00 != null" >
        10:00 = #{10:00,jdbcType=BIT},
      </if>
      <if test="10:30 != null" >
        10:30 = #{10:30,jdbcType=BIT},
      </if>
      <if test="11:00 != null" >
        11:00 = #{11:00,jdbcType=BIT},
      </if>
      <if test="11:30 != null" >
        11:30 = #{11:30,jdbcType=BIT},
      </if>
      <if test="12:00 != null" >
        12:00 = #{12:00,jdbcType=BIT},
      </if>
      <if test="12:30 != null" >
        12:30 = #{12:30,jdbcType=BIT},
      </if>
      <if test="13:00 != null" >
        13:00 = #{13:00,jdbcType=BIT},
      </if>
      <if test="13:30 != null" >
        13:30 = #{13:30,jdbcType=BIT},
      </if>
      <if test="14:00 != null" >
        14:00 = #{14:00,jdbcType=BIT},
      </if>
      <if test="14:30 != null" >
        14:30 = #{14:30,jdbcType=BIT},
      </if>
      <if test="15:00 != null" >
        15:00 = #{15:00,jdbcType=BIT},
      </if>
      <if test="15:30 != null" >
        15:30 = #{15:30,jdbcType=BIT},
      </if>
      <if test="16:00 != null" >
        16:00 = #{16:00,jdbcType=BIT},
      </if>
      <if test="16:30 != null" >
        16:30 = #{16:30,jdbcType=BIT},
      </if>
      <if test="17:00 != null" >
        17:00 = #{17:00,jdbcType=BIT},
      </if>
      <if test="17:30 != null" >
        17:30 = #{17:30,jdbcType=BIT},
      </if>
      <if test="18:00 != null" >
        18:00 = #{18:00,jdbcType=BIT},
      </if>
      <if test="18:30 != null" >
        18:30 = #{18:30,jdbcType=BIT},
      </if>
      <if test="19:00 != null" >
        19:00 = #{19:00,jdbcType=BIT},
      </if>
      <if test="19:30 != null" >
        19:30 = #{19:30,jdbcType=BIT},
      </if>
      <if test="20:00 != null" >
        20:00 = #{20:00,jdbcType=BIT},
      </if>
      <if test="20:30 != null" >
        20:30 = #{20:30,jdbcType=BIT},
      </if>
      <if test="21:00 != null" >
        21:00 = #{21:00,jdbcType=BIT},
      </if>
      <if test="21:30 != null" >
        21:30 = #{21:30,jdbcType=BIT},
      </if>
      <if test="22:00 != null" >
        22:00 = #{22:00,jdbcType=BIT},
      </if>
    </set>
    where time_id = #{timeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.practise.meetingroom.model.TTime" >
    update t_Time
    set meetingroom_id = #{meetingroomId,jdbcType=INTEGER},
      topicName = #{topicname,jdbcType=VARCHAR},
      meetingroom_name = #{meetingroomName,jdbcType=VARCHAR},
      8:00 = #{8:00,jdbcType=BIT},
      8:30 = #{8:30,jdbcType=BIT},
      9:00 = #{9:00,jdbcType=BIT},
      9:30 = #{9:30,jdbcType=BIT},
      10:00 = #{10:00,jdbcType=BIT},
      10:30 = #{10:30,jdbcType=BIT},
      11:00 = #{11:00,jdbcType=BIT},
      11:30 = #{11:30,jdbcType=BIT},
      12:00 = #{12:00,jdbcType=BIT},
      12:30 = #{12:30,jdbcType=BIT},
      13:00 = #{13:00,jdbcType=BIT},
      13:30 = #{13:30,jdbcType=BIT},
      14:00 = #{14:00,jdbcType=BIT},
      14:30 = #{14:30,jdbcType=BIT},
      15:00 = #{15:00,jdbcType=BIT},
      15:30 = #{15:30,jdbcType=BIT},
      16:00 = #{16:00,jdbcType=BIT},
      16:30 = #{16:30,jdbcType=BIT},
      17:00 = #{17:00,jdbcType=BIT},
      17:30 = #{17:30,jdbcType=BIT},
      18:00 = #{18:00,jdbcType=BIT},
      18:30 = #{18:30,jdbcType=BIT},
      19:00 = #{19:00,jdbcType=BIT},
      19:30 = #{19:30,jdbcType=BIT},
      20:00 = #{20:00,jdbcType=BIT},
      20:30 = #{20:30,jdbcType=BIT},
      21:00 = #{21:00,jdbcType=BIT},
      21:30 = #{21:30,jdbcType=BIT},
      22:00 = #{22:00,jdbcType=BIT}
    where time_id = #{timeId,jdbcType=INTEGER}
  </update>
</mapper>